@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {

    font-family: "Josefin", sans-serif;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

/* Display of the front and back side of the displayed cards */
/* Game area wrapper styling */

.wrapper-game-area {
    width: 720px;
    background: pink;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    column-count: 3;
}

.cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;


}

.flip-card {
    background-color: transparent;
    width: 170px;
    height: 200px;
    perspective: 1000px;
    list-style-type: none;
    border-radius: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 170px;
    height: 200px;
    border-radius: 20px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front img {
    object-fit: cover;
    width: 170px;
    height: 200px;
    border-radius: 20px;
    border: 6px double black;

}

.flip-card-back img {
    object-fit: cover;
    width: 170px;
    height: 200px;
    border-radius: 20px;
    border: 6px double black;

}