@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {

    font-family: "Josefin", sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: pink;

}



/* Display of the front and back side of the displayed cards */
/* Game area wrapper styling */

.wrapper-game-area {
    background: pink;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-count: 4;
    width: 640px;
    margin: 0 auto;


}

.wrapper-game-area ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

/* Style for the cards we are going to flip in order to play the game */

.cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 130px;
    height: 160px;
    perspective: 1000px;
    list-style-type: none;
    border-radius: 20px;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 130px;
    height: 160px;
    border-radius: 20px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front img {
    object-fit: cover;
    width: 130px;
    height: 160px;
    border-radius: 20px;
    border: 6px double black;

}

.flip-card-back img {
    object-fit: cover;
    width: 130px;
    height: 160px;
    border-radius: 20px;
    border: 6px double black;

}

/* Styling the body area */
header a {
    text-decoration: none;
}

body {
    background-image: url('../images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}

/* Score area where we will count the moves and the cards matched */
.score-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.score-area div {
    color: white;
    font-size: x-large
}

.score-area span {
    color: white;
    font-size: x-large
}

header h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
}

/* Modal Pop up styling */
.pop-up {
    width: 720px;
    background: pink;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    border: 6px double black;
}

.pop-up h2,
h3,
p {
    font-family: 'Lobster', sans-serif;
    font-size: x-large;
    color: rgb(147, 86, 238)
}

#myModal {
    position: fixed;
    padding-top: 170px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 9999;

}

/* Modal area buttons */
#myBtn {
    font-size: x-large;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 200px;
    background-color: rgb(224, 128, 144);
    border-radius: 20px;
}

#myBtn:hover {
    background-color: rgb(247, 133, 205);
    color: white;
    cursor: pointer;
}

/* Easy Level button */
#play-btn1 {
    height: 30px;
    width: 120px;
    background-color: rgb(224, 128, 144);
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: large;


}

/* Hard Level button */
#play-btn2 {
    height: 30px;
    width: 120px;
    background-color: rgb(224, 128, 144);
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: large;

}

/* Medium Level button */
#play-btn3 {
    height: 30px;
    width: 130px;
    background-color: rgb(224, 128, 144);
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: large;

}

/* Setup hover for each Level button */
#play-btn3:hover {
    background-color: rgb(147, 86, 238);
    cursor: pointer;
}

#play-btn1:hover {
    background-color: rgb(147, 86, 238);
    cursor: pointer;
}

#play-btn2:hover {
    background-color: rgb(147, 86, 238);
    cursor: pointer;
}

/* Congratulations section */
#congrats {
    background-image: url('../images/pink2.jpeg');
    overflow: auto;
    z-index: 9999;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 620px;
    height: 500px;
    border: 6px double black;
}

#congrats p {
    font-size: xx-large;
    margin-top: 400px;
}

/*Congratulation area Play Again button styled*/
#congratsBtn {
    font-size: xx-large;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    background-color: rgb(224, 128, 144);
    border-radius: 20px;
    text-decoration: none;
    color: white;

}

#congrats h1 {
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: xxx-large;
}

#congrats h2 {
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: xxx-large;
    text-align: center;
}

#congratsBtn:hover {
    background-color: purple;
    cursor: pointer;
}

/*Results Area*/
#result1 {
    color: white;
    font-size: x-large;
}

#result2 {
    color: white;
    font-size: x-large;
}

#result3 {
    color: white;
    font-size: x-large;
}

/*Congrats pop up modal buttons to connect to the levels*/
#congrats-btn1 {
    height: 50px;
    width: 170px;
    background-color: rgb(224, 128, 144);
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: large;
    top: 100px;

}

/* Hard Level button */
#congrats-btn2 {
    height: 50px;
    width: 170px;
    background-color: rgb(224, 128, 144);
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: large;

}

/* Medium Level button */
#congrats-btn3 {
    height: 50px;
    width: 170px;
    background-color: rgb(224, 128, 144);
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: large;

}

/* Setup hover for each Level button */
#congrats-btn3:hover {
    background-color: rgb(147, 86, 238);
    cursor: pointer;
}

#congrats-btn1:hover {
    background-color: rgb(147, 86, 238);
    cursor: pointer;
}

#congrats-btn2:hover {
    background-color: rgb(147, 86, 238);
    cursor: pointer;
}

/* media queries*/

/* For small screens sizes 800px and down*/

@media screen and (max-width: 800px) {
    .pop-up {
        width: 400px;
    }

    #myModal {
        font-size: xx-small;
    }

    .flip-card-front,
    .flip-card-back {
        width: 90px;
        height: 120px;
    }

    .flip-card-front img,
    .flip-card-back img {
        width: 90px;
        height: 120px;
    }

    .flip-card {
        width: 90px;
        height: 120px;
    }

    .wrapper-game-area {
        width: 400px;

    }

    .score-area div {
        color: white;
        font-size: large;
    }

    .score-area span {
        color: white;
        font-size: large;
    }

    #myBtn {
        font-size: large;
        height: 30px;
        width: 150px;

    }

    .pop-up h2,
    h3,
    p {
        font-size: large;
    }

    #play-btn1 {
        height: 30px;
        width: 100px;
        font-size: small;
    }

    #play-btn2 {
        height: 30px;
        width: 100px;
        font-size: small;
    }

    #play-btn3 {
        height: 30px;
        width: 100px;
        font-size: small;
    }

    #congrats {
        height: 400px;
        width: 400px;
    }

    #congrats h2 {
        font-size: x-large;
    }

    #congrats-btn1 {
        height: 30px;
        width: 100px;
        font-size: small;
    }

    #congrats-btn2 {
        height: 30px;
        width: 100px;
        font-size: small;
    }

    #congrats-btn3 {
        height: 30px;
        width: 100px;
        font-size: small;
    }
}


/* For small screens sizes 450px and down*/

@media screen and (max-width: 450px) {
    .pop-up {
        width: 300px;
        font-size: smaller;
    }

    #myModal {
        font-size: xx-small;
        font-size: smaller;
    }

    .flip-card-front,
    .flip-card-back {
        width: 70px;
        height: 110px;
    }

    .flip-card-front img,
    .flip-card-back img {
        width: 70px;
        height: 110px;
    }

    .flip-card {
        width: 70px;
        height: 110px;
    }

    .wrapper-game-area {
        width: 300px;


    }

    .score-area div {
        color: white;
        font-size: small;
    }

    .score-area span {
        color: white;
        font-size: small;
    }

    #myBtn {
        font-size: large;
        height: 30px;
        width: 150px;


    }

    .pop-up h2,
    h3,
    p {
        font-size: small;
    }

    #play-btn1 {
        height: 25px;
        width: 90px;
        font-size: small;
    }

    #play-btn2 {
        height: 25px;
        width: 90px;
        font-size: small;
    }

    #play-btn3 {
        height: 25px;
        width: 98px;
        font-size: small;
    }

    #congrats {
        height: 300px;
        width: 300px;
    }

    #congrats h2 {
        font-size: large;
    }

    #result1 {

        font-size: small;
    }

    #result2 {

        font-size: small;
    }

    #result3 {

        font-size: small;
    }

    #congrats-btn1 {
        height: 25px;
        width: 98px;
        font-size: small;
    }

    #congrats-btn3 {
        height: 25px;
        width: 98px;
        font-size: small;
    }

    #congrats-btn3 {
        height: 25px;
        width: 98px;
        font-size: small;
    }
}